<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConString" value="data source=.;user id=sa;password=ufida123456;initial catalog=UFDATA_009_2015;Connect Timeout=10;Persist Security Info=True ;Current Language=Simplified Chinese;"/>
    <add key="Command" value="S "/>
  </appSettings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
